@import '../common-imports';

.s-about-me{
    min-height: 560px;
    @include media-breakpoint-up(md) {
        min-height: 540px;
    }
    @include media-breakpoint-up(lg) {
        min-height: 720px;
    }
    &__img{
        img{
            object-fit: contain;
            object-position: bottom;
        }
    }
    .container{
        position: relative;
        z-index: 2;
    }
}