@import '../common-imports';

.s-about-me{
    &__img{
        img{
            object-fit: contain;
            object-position: bottom;
        }
    }
    .container{
        position: relative;
        z-index: 2;
    }
}