@import '../common-imports';

.s-intro{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 420px;
    @include media-breakpoint-up(md) {
        height: 540px;
    }
    @include media-breakpoint-up(lg) {
        height: 720px;
    }
    &::after{
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        width: 100%;
        background: rgb(15,35,76);
        background: linear-gradient(90deg, rgba(15,35,76,1) 0%, rgba(15,35,76,0.8799894957983193) 0%, rgba(15,35,76,0) 100%);
        @include media-breakpoint-up(md) {
            width: 70%;
        }
    }
    .container{
        position: relative;
        z-index: 2;
    }
    &__bg{
        img{
            object-position: 70%;
        }
    }
    &__links{
        a{
            position: relative;
            opacity: 0.8;
            &::after{
                position: absolute;
                width: 0;
                height: 1px;
                background-color: $grapefruit;
                bottom: 0;
                left: 0;
                content: '';
                @include transition(all 0.5s ease !important);
                @include media-breakpoint-up(md) {
                    height: 2px;
                }
            }
            &:hover,
            &:focus{
                opacity: 1;
               &::after{
                 width: 100%;
               }
            }
        }
    }
}