.btn{
    @extend .text-link-lg;
    min-height: 48px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.2px;
    min-width: 116px;
    text-align: center;
    position: relative;
    &[disabled],
    &:disabled{
        background-color: $gray-200;
        border-color: $gray-200;
        color: $gray-700;
        pointer-events: none;
        *{
            color: $gray-700 !important;
        }
        &.active,
        &:focus,
        &:focus-within,
        &:hover{
            background-color: $gray-200;
            border-color: $gray-200;
            color: $gray-700;
            pointer-events: none;
            *{
                color: $gray-700 !important;
            } 
        }
    }
    &:before{
        position: absolute;
        left: -3px;
        top: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);    
        border: 2px solid #7BCDFB;
        filter: blur(2px);
        border-radius: 4px;
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }
    &:focus{
        &:before{
            opacity: 1;
            visibility: visible;
        }
    }
    &--primary{
        background: $classic-blue;
        border-color: $classic-blue;
        color: $white;
        &:hover{
            background: $primary;
            border-color: $primary;
            color: $white;
        }
        &:focus{
            background: $classic-blue;
            border-color: $classic-blue;
            color: $white;
        }
    }
    &--secondary{
        border-color: $primary;
        color: $primary;
        &:hover{
            background: $primary;
            border-color: $primary;
            color: $white;
        }
        &:focus{
            background: $primary;
            border-color: $primary;
            color: $white;
        }
    }
    &--tertiary{
        border-color: $light-sky;
        background-color: $light-sky;
        color: $classic-blue;
        &:hover{
            border-color: $classic-blue;
            background-color: $classic-blue;
            color: $white;
        }
        &:focus{
            border-color: $light-sky;
            background-color: $light-sky;
            color: $classic-blue;
        }
    }
    &--white{
        background: $white;
        border-color: $white;
        color: $primary;
        &:focus,
        &:hover{
            background: $light-sky;
            border-color: $light-sky;
            color: $primary;
        }
    }
    &--outline-white{
        border-color: $white;
        color: $white;
        &:focus,
        &:hover{
            border-color: $light-sky;
            color: $light-sky;
        }
    }
    &--link{
        min-height: auto;
        padding: 0;
        border: 0;
        &[disabled],
        &:disabled{
            background-color: transparent;
            border-color: transparent;
            color: $gray-700 !important;
            pointer-events: none;
        }
    }
}