// Transitions
.transition {
    &-slow {
        @include transition(all 0.5s ease !important);
    }

    &-fast {
        @include transition(all 0.3s ease !important);
    }
}

// Image Fit
.object {
    &-fit {
        object-fit: cover !important;
    }

    &-position {
        &-center {
            object-position: center !important;
        }
    }
}

figure {
    margin: rem(0px);
}

img {
    @extend .mw-100;
}

.hover-link{
    &:hover{
        color: $grapefruit;
    }
}

.z-index{
    &-1{
        z-index: 1;
    }
    &-2{
        z-index: 2;
    }
    &-3{
        z-index: 3;
    }
    &-4{
        z-index: 4;
    }
    &-5{
        z-index: 5;
    }
    &-6{
        z-index: 6;
    }
    &-9{
        z-index: 9;
    }
}