.#{$global} {
    &-header {
        z-index: 99;
    }
}
.offcanvas-header,
.menu-icon{
    a{
        cursor: pointer;
    }
}

.menu-list{
    a{
        transition: all 0.3s ease;
        &:hover{
            color: $navy-blue;
        }
    }
}

.social{
    &-list{
        opacity: 0.6;
        color: $pale-gray;
        .theme-header--dark &{
            color: $classic-blue;
            opacity: 0.8;
        }
        @extend .transition-fast;
        &:hover,
        &:focus{
            opacity: 0.9;
            color: $grapefruit;
            .theme-header--dark &{
                color: $primary;
                opacity: 1;
            }
        }
    }
}